*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
table {
    border-spacing: 0px;
    border: 0.5px solid #000;
}
table tr td, table tr th{
    border: 0.5px solid #000;
}

table{
    text-align: center;
    margin: 4px;
}
.cont{
    display: flex;
    flex-direction: column;
}
form{
margin: 20px;
width: 500px;
}
input{
    width: 200px;
    height: 30px;
    margin: 4px;
}

td{
    width: 100px;
    height: 30px;
}
#tables{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    width: 500px;
}